body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-items: center;
}

.left-side {
    font-size: 24px;
    color: white;
}

.right-side {
    display: flex;
    margin-left: auto;

}

.top-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}



h1 {
    font-size: 48px;
    width: 300px;
    color: white;
}

.shrink {
    width: 300px;
    color: white;
}

.image {
    display: flex;
    justify-self: center;
    
}

button {
    width: 70px;
}

img {
    width: 200px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    font-size: 18px;
}

a:link { 
    text-decoration: none;
    color: white;
 }

 a:visited {
     color: white;
     text-decoration: none;
 }