body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    display: flex;
}

a:link { text-decoration: none; }
