body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-items: center;
}

.left-side {
    font-size: 24px;
    color: white;
    margin-left: 50px;
}

.right-side {
    display: flex;
    margin-left: auto;
    margin-right: 50px;

}

.top-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}



h1 {
    font-size: 48px;
    width: 300px;
    color: white;
}

.shrink {
    width: 300px;
    color: white;
}

.image {
    display: flex;
    justify-self: center;
    
}

button {
    width: 70px;
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

img {
    width: 200px;
   
}


ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

a:link { 
    text-decoration: none;
    color: white;
 }

 a:visited {
     color: white;
     text-decoration: none;
 }

 .middle-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     padding-left: 300px;
     padding-right: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottom-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 30px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;

}

h3 {
    font-size: 20px;
}

.button2 {
    border: white;
}